$wallpaper: url('/home/admin/Pictures/wallpaper//wallhaven-ly32vq_1920x1080.png');

$background: #010603;
$foreground: #00e12d;
$cursor: #00e12d;
$border: #00e12d;

$color0: #010603;
$color1: #042707;
$color2: #023e0c;
$color3: #01431d;
$color4: #01570f;
$color5: #005b21;
$color6: #006f23;
$color7: #00a821;
$color8: #051c0c;
$color9: #053008;
$color10: #024d0f;
$color11: #015324;
$color12: #016c12;
$color13: #007129;
$color14: #008a2b;
$color15: #00e12d;
