@import 'Colors';

$empty-select:'images/workspaces/empty/Select.svg';
$empty-deselect:'images/workspaces/empty/Deselect.svg';
$full-select:'images/workspaces/full/Select.svg';
$full-deselect:'images/workspaces/full/Deselect.svg';

//.workspaces button:hover {
//  background-image: url($empty-workspaces-select);
//};

.button{
//  background-image: url($empty-deselect);
  background-repeat: no-repeat;
	background-size: 22px;
	min-height: 22px;
	min-width: 22px;
  padding-right: 5px;
};